<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @order.name %>! your order has been confirmed and will be worked on.</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @order.name %></p>
    <p>Phone: <%= @order.phone %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>Your name will be displayed on the screen and a waiter will communicate with you as you proceed to the payment stage. Thanks for your patronage.</p>
  </body>
</html>
